{{define "admin_index"}}
<!DOCTYPE html>
<html>
    <head>
        {{ template "head_tags" .}}
        <title>Blog Admin</title>
    </head>

    <body id="admin-root">
        <div class="h-full w-full text-center flex-row select-none all:transition-400 ma">
            {{template "admin_header" . }}
            <br>
            <div id="admin-content">
                <!-- Always show the create button -->
                <div class="mb-4">
                    {{template "create_post_button"}}
                </div>

                {{if .Posts}}
                <ul id="post-list">
                    {{range .Posts}}
                    {{ template "post_item" . }}
                    {{end}}                  
                </ul>
                {{else}}
                <h1 class="text-xl font-semibold text-gray-600">No Posts Found!</h1>
                {{end}}
            </div>
        </div>
    </body>
</html>
{{end}}